*{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: rgb(3,16,23);
    background: linear-gradient(180deg, rgba(3,16,23,1) 0%, rgba(92,92,89,1) 100%);
    min-height: 100vh;  
    background-repeat: no-repeat;
    background-size: cover; 
}
#title{
    text-align: center;

}
#generateDiv{
    display: flex;
    justify-content: center;
}
#keyword, #searchButton{
    font-size: 1.5rem;
    text-align: center;
    color: black;
}
#mainContainer{
    margin: 70px;
}
#mainContainer p{
    font-size: 1.5rem;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}
.recipeCard{
    margin: 20px;
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: grey;
    border-radius: 15px;

}
.recipeCard:hover{
    opacity: 80%;
}
.dishImg{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}

